.feinman__link {
  max-width: 300px;
  text-align: right;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  transition: 0.7s ease-in-out;
}

.feinman__link:hover {
  opacity: 0.5;
}
