.khan__buy-link {
  width: 215px;
  height: 42px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: 0.7s ease-in-out;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
