@import url(./__image/feinman__image.css);
@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);

.feinman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
}


